<a href="https://colab.research.google.com/github/AnouskaJ/Likelihood_of_Forest_Fire/blob/main/Predict_likelihood_of_Forest_Fire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""Predict the likelihood of a Forest Fire"""
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from matplotlib import style

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("/content/ForestFireDataset.csv")
df.head()

            Area  Oxygen  Temperature  Humidity  Fire Occurrence
0  Test Forest 1      40           45        20                1
1  Test Forest 2      50           30        10                1
2  Test Forest 3      10           20        70                0
3  Test Forest 4      60           45        70                1
4  Test Forest 5      30           48        10                1

In [7]:
Y=df['Fire Occurrence']
data_X=df.drop(['Fire Occurrence', 'Area'],axis=1)
X_train,X_test,Y_train,Y_test=train_test_split(data_X,Y, test_size=0.3,random_state=42)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings 
warnings.filterwarnings("ignore")

In [9]:
# Logistic Regression
logreg= LogisticRegression()
logreg.fit(X_train, Y_train)
logreg_pred= logreg.predict(X_test)
logreg_acc= accuracy_score(logreg_pred, Y_test)
print("Test Accuracy: {:.2f}%".format(logreg_acc*100))

Test Accuracy: 100.00%

In [10]:
print(confusion_matrix(Y_test, logreg_pred))
print("\n")
print(classification_report(Y_test, logreg_pred))

[[33  0]
 [ 0 38]]


              precision    recall  f1-score   support

           0       1.00      1.00      1.00        33
           1       1.00      1.00      1.00        38

    accuracy                           1.00        71
   macro avg       1.00      1.00      1.00        71
weighted avg       1.00      1.00      1.00        71

In [12]:
#Naive Bayes
mnb= MultinomialNB()
mnb.fit(X_train, Y_train)
mnb_pred= mnb.predict(X_test)
mnb_acc= accuracy_score(mnb_pred, Y_test)
print("Test Accuracy: {:.2f}%".format(mnb_acc*100))

Test Accuracy: 84.51%

In [13]:
print(confusion_matrix(Y_test, mnb_pred))
print("\n")
print(classification_report(Y_test, mnb_pred))

[[28  5]
 [ 6 32]]


              precision    recall  f1-score   support

           0       0.82      0.85      0.84        33
           1       0.86      0.84      0.85        38

    accuracy                           0.85        71
   macro avg       0.84      0.85      0.84        71
weighted avg       0.85      0.85      0.85        71

In [15]:
#Linear SVC
svc= LinearSVC()
svc.fit(X_train, Y_train)
svc_pred= svc.predict(X_test)
svc_acc= accuracy_score(svc_pred, Y_test)
print("Test Accuracy: {:.2f}%".format(svc_acc*100))

Test Accuracy: 100.00%

In [17]:
print(confusion_matrix(Y_test, svc_pred))
print("\n")
print(classification_report(Y_test, svc_pred))

[[33  0]
 [ 0 38]]


              precision    recall  f1-score   support

           0       1.00      1.00      1.00        33
           1       1.00      1.00      1.00        38

    accuracy                           1.00        71
   macro avg       1.00      1.00      1.00        71
weighted avg       1.00      1.00      1.00        71